# <font color=blue>Assignments for "Data Cleaning - Missing Values"</font>

In this assignment, you are going to use a dataset related to the US education system. Please download the ([dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)) from Kaggle. You are going to use `states_all.csv` within this dataset.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

In [258]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt

df_states=pd.read_csv('states_all.csv')

In [259]:
df_states=pd.read_csv('states_all.csv')
df_states1=df_states.copy()
df_states2=df_states.copy()
df_states3=df_states.copy()

**(1)** Find the types of variables in the dataset and the missing (null) ratio of each variable.

In [260]:
print("The types of variables in the dataset.")
print("--"*30) 
df_states.info()

The types of variables in the dataset.
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [261]:
print("Null Values")
print("--"*30)
df_states.isnull().sum()

Null Values
------------------------------------------------------------

PRIMARY_KEY                        0
STATE                              0
YEAR                               0
ENROLL                           491
TOTAL_REVENUE                    440
FEDERAL_REVENUE                  440
STATE_REVENUE                    440
LOCAL_REVENUE                    440
TOTAL_EXPENDITURE                440
INSTRUCTION_EXPENDITURE          440
SUPPORT_SERVICES_EXPENDITURE     440
OTHER_EXPENDITURE                491
CAPITAL_OUTLAY_EXPENDITURE       440
GRADES_PK_G                      173
GRADES_KG_G                       83
GRADES_4_G                        83
GRADES_8_G                        83
GRADES_12_G                       83
GRADES_1_8_G                     695
GRADES_9_12_G                    644
GRADES_ALL_G                      83
AVG_MATH_4_SCORE                1150
AVG_MATH_8_SCORE                1113
AVG_READING_4_SCORE             1065
AVG_READING_8_SCORE             1153
dtype: int64

In [262]:
print("The missing ratio of each variables:")
print("--"*30)
df_states.isnull().sum()*100/df_states.shape[0]

The missing ratio of each variables:
------------------------------------------------------------

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [263]:
print("We can assume that higher than %65 ratio will not be neglected, lower than %5 ratio will be neglected and other values are filled.")
print("--"*30)
df=df_states1.isnull().sum()*100/df_states1.shape[0]
neglect=[]
similar=[]
not_null=[]
notneglect=[]
for i in range(len(df)):
    if df[i]<5 and df[i]>0.0001:
        neglect.append(df.index[i])
    elif df[i]>5 and df[i]<65:
        similar.append(df.index[i])
    elif df[i]==0.00 :
        not_null.append(df.index[i])
    else:
        notneglect.append(df.index[i])
print("Lower null value than %5 :",neglect)            
print("Higher null values than %65 :",notneglect)
print("Not null values :",not_null)
print("%5-%65 null ratio :",similar)

We can assume that higher than %65 ratio will not be neglected, lower than %5 ratio will be neglected and other values are filled.
------------------------------------------------------------
Lower null value than %5 : ['GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_ALL_G']
Higher null values than %65 : ['AVG_MATH_4_SCORE', 'AVG_READING_8_SCORE']
Not null values : ['PRIMARY_KEY', 'STATE', 'YEAR']
%5-%65 null ratio : ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_1_8_G', 'GRADES_9_12_G', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE']

**(2)** You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?

**We can fill with the mean value of the each states for each column.**

In [264]:
for i in df_states1.columns[3:]:
  df_states1[i] = df_states1[i].fillna(df_states1.groupby('STATE')[i].transform('mean'))
  df_states1[i] = df_states1[i].fillna(df_states1[i].mean())

In [265]:
df_states1.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

**(3)** Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.

Second copy of original states.csv file:

In [266]:
df_states2

             PRIMARY_KEY  ... AVG_READING_8_SCORE
0           1992_ALABAMA  ...                 NaN
1            1992_ALASKA  ...                 NaN
2           1992_ARIZONA  ...                 NaN
3          1992_ARKANSAS  ...                 NaN
4        1992_CALIFORNIA  ...                 NaN
...                  ...  ...                 ...
1710       2019_VIRGINIA  ...               262.0
1711     2019_WASHINGTON  ...               266.0
1712  2019_WEST_VIRGINIA  ...               256.0
1713      2019_WISCONSIN  ...               267.0
1714        2019_WYOMING  ...               265.0

[1715 rows x 25 columns]

In [267]:
for i in df_states2.columns[3:]:
  df_states2[i] = df_states2[i].fillna(df_states2.groupby('YEAR')[i].transform('mean'))
  df_states2[i] = df_states2[i].fillna(df_states2[i].mean())

In [268]:
df_states2.tail()

             PRIMARY_KEY  ... AVG_READING_8_SCORE
1710       2019_VIRGINIA  ...               262.0
1711     2019_WASHINGTON  ...               266.0
1712  2019_WEST_VIRGINIA  ...               256.0
1713      2019_WISCONSIN  ...               267.0
1714        2019_WYOMING  ...               265.0

[5 rows x 25 columns]

**(4)** This time, fill in the missing values by interpolating.

First, We have to sort values than interpolating all each values:

In [269]:
for i in df_states3.columns[3:]:
  df_states3[i]=df_states3[i].fillna(df_states3[i].sort_values().interpolate(method ='linear', limit_direction ='forward'))

In [270]:
df_states3.isnull().sum()

PRIMARY_KEY                     0
STATE                           0
YEAR                            0
ENROLL                          0
TOTAL_REVENUE                   0
FEDERAL_REVENUE                 0
STATE_REVENUE                   0
LOCAL_REVENUE                   0
TOTAL_EXPENDITURE               0
INSTRUCTION_EXPENDITURE         0
SUPPORT_SERVICES_EXPENDITURE    0
OTHER_EXPENDITURE               0
CAPITAL_OUTLAY_EXPENDITURE      0
GRADES_PK_G                     0
GRADES_KG_G                     0
GRADES_4_G                      0
GRADES_8_G                      0
GRADES_12_G                     0
GRADES_1_8_G                    0
GRADES_9_12_G                   0
GRADES_ALL_G                    0
AVG_MATH_4_SCORE                0
AVG_MATH_8_SCORE                0
AVG_READING_4_SCORE             0
AVG_READING_8_SCORE             0
dtype: int64

**(5)** Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?

Interpolation is not useful this problem because last approximately 100 row values are the same value. 

Second answer is more meaningful third. However this time, we think all country has same features, but real life it is not.

The most meaningful answer is first. We adjusted for countries to solve the problem. This made the result more specific and closer to the truth.